<<<<<<< HEAD
h1{
    color:brown
}

h2{
    color:brown
}

p{
    color:crimson
}

body{
    background-color:wheat
=======
h1{
    color:brown
}

h2{
    color:brown
}

p{
    color:crimson
}

body{
    background-color:wheat
>>>>>>> 3d2d03b8cac6027b0d97d7ec310d6ff49b5d2cb8
}